@font-face {
    font-family: myFirstFont;
    src: url(IRANSans.woff);
    color: #001725;
}
html*{
    font-family: myFirstFont !important; 
}
body{
    background: #f0f0f0;
}
.navbar, .dropdown-menu{
background:#2c2c2d;
border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: tomato 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #7800af 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #00aeb1 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: rgb(0, 206, 0) 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: rgb(251, 255, 0) 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: orangered 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

#logo{
    width: 10em;
    height: 5em;
    background-image: url("./img/logo.svg");
    background-repeat: no-repeat;
    margin-left: -20%;
    background-size: 100% 100%;
}

#search{
    float: right;
    margin-top: 1em;
    width: 30%;
    
}
#searchbtn{
    background-color: tomato;

}

#press{
   margin-top: 1em;
    width: 100%;
    height: 40%;
    direction: rtl;
}

#container{
    width: auto;
    float: bottom;
    height: 70%;
    margin-top: 12%;
    
    
}
.navbar{
    opacity: 1;
    z-index: 1000;
}

#updown {
    width: 25%;
   float: right;
    text-align: left;
    margin-right: 1em;
    padding-top: 0;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  #updown #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  #updown #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  #updown #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    
    
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  #increase{
background-image: url("./img/flame.svg");
background-repeat: no-repeat;
background-size: 100% 100%;
background-color: transparent;
border:none;
outline: none;
width:30%;
height: 90%
  }

  #decrease{
    background-image: url("./img/snow.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    border:none;
    outline: none;
    width:30%;
    height: 90%
        
      }

#number{
    height: 80%;
    width: 40%;
    border-radius: 15%;
    background-color: #f0f0f0;
    margin-top:1%;
      }
      #share{
        background-image: url("./img/share.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        border:none;
        outline: none;
        width:15%;
        height: 90%;
        float: left;
        margin-top: 0;
        padding: 0;
       
          }
#pressbar{

    width: 70%;
    height: 25%;
    background-color: #2c2c2d;
    border: orangered 1px solid;
    border-radius: 20px;
    float: right;
    margin-right: 1em;

      }
      .a1{
          height: 80%;
          width: auto;
          float: left;
          font-size: 1em; 
          padding: 1em 1em 1em 1em;
          font-weight: 300;
          color: #f0f0f0;
      }

      .a1:hover{

        font-weight: 400;
        color:#7800af ;
      }

    #content{
      height: 70%;
      width: 70%;
      border: orangered 2px solid;
      border-radius: 20px;
      float:right;
      border-style: none dashed dashed dashed;
      margin-top: 1em;
      margin-right: 1em;
      
      
    }
      #matn{
          overflow-y: scroll;
          float: right;
          padding: 2% 2% 2% 2%;
      }
      #ax{

        float:left;
        padding: 1% 1% 1% 1%;
        width: 30%;
        height: 90%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-left: 10%;
        
    }
    footer{
        width: 100%;
        height: auto;
        background-color: tomato
    }
    #dialogue{

      
      background-color: transparent;
      background-image: url("./img/chat.svg");
      width: 20%;
      height: 10%;
      border: none;
      outline: none;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-left: 1em;
      margin-top: -5em;
      opacity: 1;
      z-index: 1000;
      position: fixed;
    }

    #time{
      position: fixed;
      direction: rtl;
      text-align: center;
      margin-left: 1em;
      margin-top: 1em;
      float:left;
    }
#login{
  position: fixed;
  margin-left: 1em;
  margin-top: 5em;
  width: 20%;
  height:20%;
  border: #7800af 2px solid;
  border-radius: 10px;
  
}

    #leaf{

      
      background-color: rgba(31, 0, 0,0.8);
      width: 100%;
      height: 100%;
      position: fixed;
      margin-top: 0;

    }

#box{
  width: 50%;
  height: 50%;
  margin-top: 20%;
  margin-left: 25%;
  background-color: #ffffff;
  position: relative;
  opacity: 1;
  border-radius: 15px;
  border: orangered 1px solid;
}

#name{
  direction: rtl;
  float: right;
  margin-top: 1em;
  outline: none;
  border: #2c2c2d 1px solid;
  margin-right: 1em;
  border-radius: 15px;
}

#choice{
  float: right;
  margin-top: 1em;
  outline: none;
  border: #2c2c2d 1px solid;
  margin-right: 1em;
  border-radius: 15px;

}
#khabar{
  float: right;
  margin-top: 1em;
  outline: none;
  border: #2c2c2d 1px solid;
  margin-right: 1em;
  width:90%;
  height: 50%;
  overflow-y:scroll; 
  clear: both;
  border-radius: 15px;
  direction: rtl;

}

#photo{
  float: right;
  margin-top: 1em;
  outline: none;
  border: tomato 1px solid;
  margin-right: 1em;
  border-radius: 15px;
}
#sabt{
  float: left;
  margin-top: 1em;
  outline: none;
  border:none;
  margin-left: 2em;
  background-image: url("./img/amplifier.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4em;
  height: 4em;
  background-color: transparent;
}

#clsbox{
  float: top;
  margin-top: 1em;
  outline: none;
  border:none;
  margin-left: 1em;
  background-image: url("./img/cancel.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  background-color: transparent;
}

#username{

  float: right;
  margin-top: 1em;
  outline: none;
  border: #2c2c2d 1px solid;
  margin-right: 1em;
  width:90%;
  height: 25%;
  clear: both;
  border-radius: 5px;
  padding: 5px;
  

}
#pass{
  
    float: right;
    margin-top: 0.5em;
    outline: none;
    border: #2c2c2d 1px solid;
    margin-right: 1em;
    width:90%;
    height: 25%;
    clear: both;
    border-radius: 5px;
    padding: 5px;
    
  
  }
  #logon{
    
      float: right;
      margin-top: 0.5em;
      outline: none;
      border: tomato 1px solid;
      margin-right: 1em;
      width:90%;
      height: 25%;
      clear: both;
      border-radius: 5px;
      padding: 5px;
      background-color: tomato;
      background-image: url("./img/key.svg");
      background-size:100% 100%;
      background-repeat: no-repeat;
      background-position-x: 50%;
    }